{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>Project List</h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Total Tasks</th>
            </tr>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}